<!DOCTYPE html>
html(lang="fr")
head
	meta(charset="UTF-8")
	title Bienvenue | Jeune Écolo
	link(rel="stylesheet", href="./css/style.css")
body
	header
		nav
			a(href="index.pug") Accueil
			a(href="profil") Mon profil
			a(href="defis") Nos défis
			a(href="connexion") Se connecter
			a(href="inscription") S'inscrire
           

	block content

	footer
		p Copyright