header{
    background-color: #50b300;
}

header a{
    color: ghostwhite;
    text-decoration: none;
}

/* button{
    border: solid 1px ghostwhite;
    color: transparent;
} */

body{
    background-color: ghostwhite;
}

h1{
    color: #1E1E1E;
}

footer{
    background-color: #50b300;
}